body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.card{
   
   float:left;
   margin-top: 30%;
   margin-left: 5.3%;
}
.container2{
    margin-top: 15px;
}

.logo {
  height: 56px;
}
.fa, .fab, .fal, .far, .fas {
  margin: 0 5px 0 5px;
}
.banner {
  height: 500px;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  margin-top: 25px;
  background-color: #001a00;
  padding-top: 20px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
.footer-copyright {
  background-color: #0a0f0a;
  padding: 15px 0 15px 0;
}
